.card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;

}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}

button {
    color: white;
    background-color: transparent;
    border: none;
    transition: color .3s linear;
}

button:hover {
    color: gray;
}