small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2,
small {
    color: white;
}

a {
    text-decoration: none;
    margin: 0px 20px;
    color: white;
}

header {
    position: sticky;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.048);


}

.navbar-nav {
    width: 100%;
}

#hide {
    position: absolute;
    left: -9999px;
    ;
}

@media (max-width:992px) {
    #hide {
        position: relative;
        right: 0%;
        left: 10%
    }
}